/configs/*
!/configs/config.yaml
/exports/*
!/exports/.gitkeep
/last_successful/*
!/last_successful/.gitkeep
/log/*
!/log/.gitkeep
/safetyculture-sdk-python/tools/exporter/__pycache__/*
/safetyculture-sdk-python/tools/exporter/Adminer/
/safetyculture-sdk-python/tools/exporter/last_successful/
/safetyculture-sdk-python/tools/exporter/log/*
!/safetyculture-sdk-python/tools/exporter/log/.gitkeep
/edd-compose.yml
/.idea
.DS_Store
/safetyculture-sdk-python/tools/exporter/exporter.spec
safetyculture-sdk-python/tools/exporter/dist/*
safetyculture-sdk-python/tools/exporter/build/*
/teamtrain.py
/trainingpy.py
/__pycache__
/ExampleCSV
/courses.csv
/records.csv
/users.csv
/safetypy.py
/safetyculture-sdk-python/tools/exporter/hook-sqlalchemy_pyodbc_mssql.py
/ttconfig.ini
/.vscode