*, *:before, *:after {
    box-sizing: border-box;
}

#app {
    height: 100vh;
}

:root {
    --main-gutter-top: 32px;
    --main-gutter-left: 32px;
    --main-gutter-right: 32px;
}

@font-face {
    font-family: 'NotoSansLight';
    src: url('../fonts/NotoSans-Light.ttf')
}

@font-face {
    font-family: 'NotoSansRegular';
    src: url('../fonts/NotoSans-Regular.ttf')
}


@font-face {
    font-family: 'NotoSansMedium';
    src: url('../fonts/NotoSans-Medium.ttf')
}

@font-face {
    font-family: 'NotoSansSemiBold';
    src: url('../fonts/NotoSans-SemiBold.ttf')
}

body {
    font-style: normal;
    font-size: 1rem;
    font-family: NotoSansRegular, Tahoma, sans-serif;
    letter-spacing: .005rem;
    color: #1D2330;
    background-color: #FFFFFF;

    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow: auto;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}
