*, *:before, *:after {
    box-sizing: border-box;
}

html {
    background-color: #FFFFFF;
}

body {
    margin: 0;
    color: black;
    font-family: "Noto Sans Adlam"
}

#app {
    height: 100vh;
}
