.h1 {
    font-family: NotoSansSemiBold, sans-serif;
    font-weight: 700;
    font-size: 2rem;
    margin-top: 16px;
    margin-bottom: 16px;
}

.h2 {
    font-family: NotoSansSemiBold, sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}

.h3 {
    font-weight: 600;
    font-size: 1rem;
}

.link {
    color: #4740D4;
    cursor: pointer;
}

.text-size-medium {
    font-size: 0.9rem;
}

.block-link {
    cursor: pointer;
}

.checkbox-purple {
    accent-color: #4740D4;
    height: 20px;
    width: 20px;
}

.label {
    margin-top: 15px;
    font-weight: 500;
    font-size: 0.9rem;
    line-height: 1rem;
}

.sub-label {
    margin-top: 8px;
    font-weight: 500;
    font-size: 0.8rem;
    line-height: 1rem;
}

/*ALIGNMENT*/
.flex-spaced {
    justify-content: space-between;
}

.m-left-8 {
    margin-left: 8px;
}

.m-left-16 {
    margin-left: 16px;
}

.m-left-32 {
    margin-left: 32px;
}

.m-right-8 {
    margin-right: 8px;
}

.m-top-4 {
    margin-top: 4px;
}

.m-top-8 {
    margin-top: 8px;
}

.m-top-16 {
    margin-top: 16px;
}

.p-8 {
    padding: 8px;
}

.p-left-8 {
    padding-left: 8px;
}

.p-left-16 {
    padding-left: 16px;
}

.p-right-8 {
    padding-right: 8px;
}

.p-right-16 {
    padding-right: 16px;
}

.p-top-8 {
    padding-top: 8px;
}

.p-top-16 {
    padding-top: 16px;
}

.p-top-24 {
    padding-top: 24px;
}

.p-top-32 {
    padding-top: 32px;
}

.p-top-48 {
    padding-top: 48px;
}

.p-top-64 {
    padding-top: 64px;
}

.p-bottom-48 {
    padding-bottom: 48px;
}

.p-horiz-8 {
    padding-left: 8px;
    padding-right: 8px;
}

/*COLOURS AND BORDERS*/
.bg-light {
    background-color: #E9EEF6;
}

.border-round-8 {
    border-radius: 8px;
}

.border-round-12-left {
    border-radius: 12px 0 0 12px;
}

.border-weak {
    border: 1px solid #BFC5D4;
}

.text-gray-2 {
    color: #3F495A;
}

.text-weak {
    color: #545F70;
}

/* NAV */
.top-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-left {
    display: flex;
    align-items: center;
}

.nav-right {
    display: flex;
    align-items: center;
}

.status-col-1 {
    width: 40%;
    text-align: left;
}

.status-col-2 {
    width: 20%;
    text-align: left;
}

.status-col-3 {
    text-align: left;
}
