body {
    font-style: normal;
    font-size: 1rem;
    font-family: Tahoma, sans-serif;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: hidden;
    overflow-x: hidden;
    letter-spacing: .005rem;
    color: #1D2330;
}

body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

.h1 {
    font-weight: 600;
    font-size: 2rem;
    margin-top: 16px;
    margin-bottom: 16px;
}

.h2 {
    font-weight: 400;
    font-size: 1.5rem;
}

.h3 {
    font-weight: 400;
    font-size: 1rem;
}

.link {
    color: #4740D4;
}

.text-size-small {
    font-size: 0.8rem;
}

.text-size-medium {
    font-size: 0.9rem;
}

.button {
    padding: 14px 16px;
    border-width: 1px;
    font-weight: 400;
    font-size: 1rem;
}

.button {
    padding: 14px 16px;
    border-width: 1px;
    border-radius: 12px;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
}

.button-long {
    display: flex;
    justify-content: space-between;
}

.button:hover {
    cursor: pointer;
}

.button-white {
    background: #FFFFFF;
    color: #675DF4;
    border-color: #BFC5D4;
}

.button-purple {
    background: #675DF4;
    color: #FFFFFF;
    border-color: #FFFFFF;
}

.checkbox-purple {
    accent-color: #675DF4;
    height: 20px;
    width: 20px;
}

.selector {
    margin-top: 4px;
    padding: 12px 16px;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1rem;
}

.input {
    width: 100%;
    padding: 10px 16px;
    border-radius: 8px;
    border: 1px solid #BFC5D4;
    font-size: 1rem;
    line-height: 1.5rem;
}

.label {
    margin-top: 15px;
    font-weight: 500;
    font-size: 0.9rem;
    line-height: 1rem;
}

.sub-label {
    margin-top: 8px;
    font-weight: 500;
    font-size: 0.8rem;
    line-height: 1rem;
}

/*ALIGNMENT*/

.m-top-4 {
    margin-top: 4px;
}

.m-top-8 {
    margin-top: 8px;
}

.m-top-16 {
    margin-top: 16px;
}

.m-left-8 {
    margin-left: 8px;
}

.m-left-16 {
    margin-left: 16px;
}


.m-left-32 {
    margin-left: 32px;
}

.m-right-8 {
    margin-right: 8px;
}

.m-right-16 {
    margin-right: 16px;
}

.p-48 {
    padding: 48px;
}

.p-8 {
    padding: 8px;
}

.p-left-8 {
    padding-left: 8px;
}

.p-right-8 {
    padding-right: 8px;
}

.p-horiz-8 {
    padding-left: 8px;
    padding-right: 8px;
}

.p-vert-8 {
    padding-top: 8px;
    padding-bottom: 8px;
}

.text-weak {
    color: #545F70;
}

.text-gray-2 {
    color: #3F495A;
}

.border-weak {
    border: 1px solid #BFC5D4;
}

.border-round-8 {
    border-radius: 8px;
}

.border-round-12 {
    border-radius: 12px;
}

.flex-spaced {
    justify-content: space-between;
}

/* NAV */
.top-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-left {
    display: flex;
    align-items: center;
}

.nav-right {
    display: flex;
    align-items: center;
}
