.top-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-left {
    display: flex;
    align-items: center;

    justify-content: flex-start;
}

.page-title {
    margin-left: 20px;
}

.nav-left .arrow-left {
    padding: 8px;
}

.nav-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.config-body {
    display: flex;
}

.filters {
    width: 55%;
}

.template-button {
    display: flex;
    justify-content: space-between;
}

.template-button-right {
    display: flex;
}