API:
    token:
    ssl_cert:
    ssl_verify:
    proxy_http:
    proxy_https:
config_name: iauditor
export_options:
    export_path:
    timezone:
    filename:
    export_archived: false
    export_completed: both
    use_real_template_name: false
    export_inactive_items: false
    export_profiles:
    template_ids:
    sync_delay_in_seconds: 900
    media_sync_offset_in_seconds: 900
    merge_rows: false
    actions_merge_rows: false
    sql_table: iauditor_data
    database_type: mssql+pyodbc_mssql
    database_user:
    database_pwd:
    database_server:
    database_port: 1433
    database_schema: dbo
    database_name: iAuditor?driver=ODBC Driver 17 for SQL Server
