# yamllint disable rule:line-length
---
name: Security Scan

# yamllint disable-line rule:truthy
on:
  pull_request:
    types: [opened]
  push:

jobs:
  Trufflehog:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Trufflehog Actions Scan
        uses: edplato/trufflehog-actions-scan@v0.9i-beta
        with:
          scanArguments: "--regex --entropy=False --max_depth=50 --rules $GITHUB_WORKSPACE/.github/trufflehog.json" # Add custom options here*
